/* Dracula Palette */
@define-color bg        #282A36;
@define-color fg        #F8F8F2;

@define-color current   #44475A;
@define-color selection #44475A;

@define-color comment   #6272A4;

@define-color red       #FF5555;
@define-color orange    #FFB86C;
@define-color yellow    #F1FA8C;
@define-color green     #50FA7B;
@define-color cyan      #8BE9FD;
@define-color purple    #BD93F9;
@define-color pink      #FF79C6;
