/* ==============================
   Nord Polar Night - GTK / Waybar
   ============================== */

@define-color bg        #2e3440;
@define-color bg-alt    #3b4252;
@define-color bg-soft   #434c5e;

@define-color fg        #d8dee9;
@define-color fg-alt    #e5e9f0;

@define-color comment   #4c566a;

@define-color red       #bf616a;
@define-color orange    #d08770;
@define-color yellow    #ebcb8b;
@define-color green     #a3be8c;
@define-color cyan      #88c0d0;
@define-color blue      #81a1c1;
@define-color purple    #b48ead;
