[Desktop Entry]
Type=Application
Name=Hydra
Comment=Hydra
Icon=/home/dionlleno/AppImages/.icons/hydra.png
TryExec=/home/dionlleno/AppImages/hydra.appimage
Exec=env DESKTOPINTEGRATION=1 /home/dionlleno/AppImages/hydra.appimage --no-sandbox %U
Terminal=false
MimeType=x-scheme-handler/hydralauncher;
Categories=Game;
StartupWMClass=Hydra
X-AppImage-Version=3.7.6
