@import "colors.css";

/* === Estilo Global === */
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

/* === Waybar === */
window#waybar {
  background: transparent;
  color: @fg;
}

/* === Workspaces === */
#workspaces button {
  padding: 0 6px;
  background: @comment;
  color: @fg;
  border-radius: 6px;
}

#workspaces button:hover {
  /* background: @purple;*/
  box-shadow: inset 0 -3px @purple;
}

#workspaces button.active {
  background: @cyan;
  color: @bg;
}

/* === Base dos módulos === */
#clock,
#tray,
#wireplumber,
#backlight,
#network,
#battery,
#power-profiles-daemon {
  padding: 0 12px;
  margin: 0 5px;
  background: @comment;
  color: @fg;
}

/* === Clock === */
#clock {
  background: @comment;
  color: @fg;
}

/* === Áudio === */
#wireplumber {
  background: @cyan;
  color: @fg-alt;
}

#wireplumber.muted {
  background: @red;
  color: @fg-alt;
}

/* === Brilho === */
#backlight {
  background: @yellow;
  color: @bg;
}

/* === Rede === */
#network {
  background: @cyan;
  color: @fg-alt;
}

#network.disconnected {
  background: @red;
  color: @fg-alt;
}

/* === Bateria === */
#battery {
  background: @cyan;
  color: @fg-alt;
}

#battery.charging,
#battery.plugged {
  background: @green;
  color: @fg-alt;
}

#battery.critical:not(.charging) {
  background: @red;
  color: @fg-alt;
  animation: blink 0.7s infinite alternate;
}

/* === Perfis de energia === */
#power-profiles-daemon {
  background: @purple;
  color: @fg;
}

#power-profiles-daemon.power-saver {
  background: @green;
  color: @bg;
}

#power-profiles-daemon.balanced {
  background: @yellow;
  color: @bg;
}

#power-profiles-daemon.performance {
  background: @red;
}

/* === Tray === */
#tray {
  background: @comment;
  color: @fg;
}

/* === Idioma === */
#sway-language {
  background: @comment;
  color: @fg;
}

/* === Power === */
#custom-power {
  padding: 0 12px;
  background: @purple;
  color: @fg;
  border-radius: 8px;
}
